{% extends 'store/main.html' %}
{% block content %}
{% load static %}
 <!-- Blog Section Begin -->
 <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %} ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>TIN TỨC</h2>
                    <div class="breadcrumb__option">
                        <a href="{{index}}">trang chủ</a>
                        <span>tin tức</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <section class="blog spad">
    
    <div class="container">
        
        <!-- Breadcrumb Section End -->
        <div class="row">
            
            <div class="col-lg-12 col-md-7">
                <div class="row">
                    {% for item in  blogg %}
                        <div class="col-lg-4 col-md-6 col-sm-6 zoom">
                            <div class="blog__item">
                                <a href="/blogdetails/{{item.id}}">
                                    <div class="blog__item__pic">
                                        <img src="{{item.image.url}}" style="height:200px" alt="">
                                    </div>
                                    <div class="blog__item__text">
                                        <ul>
                                            <li><i class="fa fa-calendar-o"></i> {{item.date_at|date:"d/m/Y" }}</li>
                                            
                                        </ul>
                                        <h5>{{item.name}}</h5>
                                        <p class="showchars">{{item.short_description|truncatechars:100|safe}} </p>
                                     
                                    </div>

                                </a>
                               
                            </div>
                        </div>
                    {% endfor %}
                    
                  
                    
                   
                   
                   
                    <div class="product__pagination">
                        {% if blogg.has_other_pages %}
                            {% if blogg.has_previous %}  
                                <a href="?page={{ blogg.previous_page_number }}"><i class="fas fa-arrow-left" class="page-link"></i></a>
                            {% else %}
                                <a href="#"><i class="fas fa-arrow-left"  class="page-link"></i></a>
                            {% endif %}
    
                            {% for i in blogg.paginator.page_range %}
                            {% if blogg.number == i %}
                                <a class="page active">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}" class="page ">{{ i}}</a>
                            {% endif %}
                            {% endfor %}
    
                            {% if blogg.has_next %} 
                                <a href="?page={{ blogg.next_page_number }}"><i class="fa fa-long-arrow-right"  class="page-link"></i></a>
                            {% else %}
                                <a href="?page={{ blogg.paginator.num_pages }}"><i class="fa fa-long-arrow-right"  class="page-link"></i></a>
                            {% endif %} 
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
    <script type="text/javascript">

        $(".comment").shorten({
    
        "showChars" : 200,
    
        "moreText"  : "Xem thêm",
    
        "lessText"  : "Rút gọn",
    
    });
    
    </script>
{% endblock %}