{% extends 'store/main.html' %}
{% block content %}
{% load static %}
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad" id ="cartList">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Tên Sản Phẩm</th>
                                <th>Giá</th>
                                <th>Số Lượng</th>
                                <th>Tổng Giá</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product_id,item in cart_data.items %}
                            <tr>
                                <td class="shoping__cart__item">
                                   
                                    <a href="/details/{{product_id}}">
                                        <img src="{{item.image}}" alt="" style="width:100px;">
                                        <h5>{{item.name}}</h5>
                                    </a>
                                </td>
                                <td class="shoping__cart__price">
                                    {{item.price}} đ
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="{{item.qty}}">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    {% widthratio item.price 1 item.qty %} đ
                              
                                </td>
                                <td class="shoping__cart__item__close">
                                    <button type="button" class="btn btn-outline-danger delete-item" data-item={{product_id}}><i class="fas fa-times"></i></button>
                                </td>
                            </tr>
                            
                            
                            {% endfor %}
                           
                        </tbody>
                        
                    </table>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="{% url 'product' %}" class="primary-btn cart-btn">CONTINUE SHOPPING <i class="fas fa-forward"></i></a>
                    {% comment %} <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                        Upadate Cart</a> {% endcomment %}
                </div>
            </div>
            <div class="col-lg-6">
                {% comment %} <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div> {% endcomment %}
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>{{total_amt|floatformat:3}} đ</span></li>
                        <li>Total <span>{{total_amt|floatformat:3}} đ</span></li>
                    </ul>
                    <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
{% endblock %}