{% extends 'store/main.html' %}
{% block content %}
{% load static%}
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %} ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'index' %}">Trang Chủ</a>
                        <span>Sản Phẩn Theo Vùng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Danh mục</h4>
                        <ul>
                            {% for item in category %}
                            <li><a style="text-transform: capitalize" href="/productcate/{{item.id}}">{{item.Name}}</a></li>
                            {% endfor %}
                       
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>{{get_name}}</h2>
                    </div> 
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                           
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6>Có<span> {{number_of_product}}</span>Sản Phẩm </h6>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="row">
                    {% for item in procate %}
                        <div class="col-lg-3 col-md-6 col-sm-6 zoom">
                            <a href="/details/{{item.id}}">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{item.img.url}}">

                                </div>
                                <div class="product__item__text">
                                    <h6>{{item.nameProduct}}</a></h6>
                                    <h5>{{item.price}} đ</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                   
                    
                    
                </div>
                <div class="product__pagination">
                    {% if procate.has_other_pages %}
                        {% if procate.has_previous %}  
                            <a href="?page={{ procate.previous_page_number }}"><i class="fas fa-arrow-left" class="page-link"></i></a>
                        {% else %}
                            <a href="#"><i class="fas fa-arrow-left"  class="page-link"></i></a>
                        {% endif %}

                        {% for i in procate.paginator.page_range %}
                        {% if procate.number == i %}
                            <a class="page active">{{ i }}</a>
                        {% else %}
                            <a href="?page={{ i }}" class="page">{{ i}}</a>
                        {% endif %}
                        {% endfor %}

                        {% if procate.has_next %} 
                            <a href="?page={{ procate.next_page_number }}"><i class="fa fa-long-arrow-right"  class="page-link"></i></a>
                        {% else %}
                            <a href="?page={{ procate.paginator.num_pages }}"><i class="fa fa-long-arrow-right"  class="page-link"></i></a>
                        {% endif %} 
                        
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock content %}